/* debug line */
.header, 
.body,
.footer {border: 2px solid red;}

.hero,
.feature,
.quote,
.promo {border: 3px solid rgb(39, 17, 183);}

/* initial setup */
body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 0;
    min-height: 100vh;
}

/* HEADER */

.header {
    display: flex;
    padding: 15px 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

li a, button a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* HERO */

.hero {
    display: flex;
    padding: 15px 100px;
    background-color: #1F2937;
    gap: 15px;
    justify-content: center;
}

.hero > .textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 0 0 450px;
    gap: 15px;
}

.hero__intro {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero__text {
    font-size: 18px;
    color: #E5E7EB;
}

/* FEATURE */

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.imgbox {
    display: flex;
    gap: 30px;
    flex: 1 1 auto;
}

.img {
    flex: 0 0 200px;
}

.quote {
    display: flex;
    padding: 15px 100px;
    flex-direction: column;
}

.name {
    align-self: flex-end;
}

.promo {
    padding: 50px;
}

.wrapper {
    display: flex;
    background-color: #3882F6;
    color: white;
}