/* debug line */
.header, 
.body,
.footer {border: 2px solid red;}

.body1,
.body2,
.body3,
.body4 {border: 3px solid rgb(39, 17, 183);}

/* initial setup */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a, button a{
    text-decoration: none;
}

/* flextime! */

.header {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    gap: 15px;
}

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.body1 {
    display: flex;
}

.body1 > .textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.body2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.imgbox {
    display: flex;
    gap: 30px;
    flex: 1 1 auto;
}

.img {
    flex: 0 0 200px;
}